# NEXT.JS
NEXT_PUBLIC_APP_NAME=
NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_API_URL=

# DATABASE
DATABASE_URL=

# SUPABASE (PUBLIC)
NEXT_PUBLIC_SUPABASE_API_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_SUPABASE_DATABASE_STUDIO_URL=
NEXT_PUBLIC_SUPABASE_MAILPIT_URL=

# SUPABASE (PRIVATE)
SUPABASE_SECRET_KEY=
